
# secret files
#
.secrets/

henry/
# for telescope search
.cache
.caches
.npm
.local

# git credential file
.gitconfig.local
.git-credentials

# fish shell
fishd.*
fish/config.fish.backup
.config/fish/fish_history
fish/fish_history
fish/fish_variables

#github credential

*/gh/hosts.yml
*/lazygit/state.yml
### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pnpm-lock.yaml
# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock


# Dependency directories
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local


### Remix ###
node_modules
/.cache
# /build
# /public/build
package-lock.json
lazy-lock.json
*.lock


